<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Deleting Records</title>
    </head>
    <body>
    <form action="#" method="post" >
            <p>Deletion Form:</p>
        <table>
        <tbody>
        <tr>
            <td>Record to delete (by show name):</td>
            <td><input type="text" name="filter" /></td>
        </tr>
        </tbody>
        </table>
        <p><input type="submit" value="submit"/></p>
    </form>
   
    </body>
</html>
    

    